@font-face {
	font-family: "Workbench Mono";
	src: local("Cascadia Mono"), local("Consolas");
}

* {
	box-sizing: border-box;
}
html,
body,
#root {
	min-height: 100%;
	margin: 0;
}
body {
	min-width: 960px;
}
button,
input {
	font: inherit;
}
